!!! 5
html(lang="en")
    head
        title rmelisson
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        link(href="style/style.css", media="screen", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Josefin+Sans:400", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Noticia+Text", rel="stylesheet", type="text/css")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
        //script(src="javascript/jquery.min.js")
        script(src="javascript/jquery.corner.js")
        script(src="javascript/mizot.js")
    body
        div#top Remi Melisson, software engineer
        div#nav 
          span.selected_link.link#link_home: a(href='#') Home
          span.link#link_contact: a(href='#') Contact
          span.link#link_resume: a(href='#') Bio
          span.link#link_work: a(href='#') Activity
        div.content#home
          div#img_div
              img#me_img(src="img/id.jpg")
          br
          div#welcome <span class="capital">W</span>elcome here, I'm Remi Melisson, enthusiast developer. I'm currently located in France but I plan to move to London during the 2012 summer.
          br
          p.alinea I like great code (i.e. clean, elegant, well-tested, efficient, SOLID…) and I'm looking for a position where code quality matters. I'm passionate by my work and I pay attention to the software community. During the past years, I was involved in the research area where I learned to stand back and look ahead. 
          p.alinea I would like to join an enthusiast team, using adapted technologies in order to solve problems, challenges. Currently, I'm especially interested by scalable needs, for example in the scope of big data or cloud computing. But any field where performance matters might motivate me.
          p.alinea Here you can find information about my background and my early career. Feel free to contact me via email, Linked In or why not, smoke signals. 
        div.content.invisible_content#contact Well, you can find me <a href="http://maps.google.fr/maps/place?q=Orange+R%26D+Meylan&hl=en&cid=8451382217444420832" target="_blank">there</a> : <br /><br />
            span#liam
                <img src="http://upload.wikimedia.org/wikipedia/en/0/0a/Gmail_logo.png" style="width:100px;" alt="send me" onclick="confirm('rmelisson gmail.com');"/> 
            <br/>
            <br/>
            <a href="http://www.github.com/rmelisson" target="_blank"><img src="https://github.com/github/media/raw/master/logos/github_logo_social_coding_outlined.png" alt="me on GitHub" style="width:85px;"/></a>
            <br/>
            <br/>
            <a href="http://www.linkedin.com/profile/view?id=76022946&trk=tab_pro" target="_blank"><img src="http://fr.press.linkedin.com/sites/all/themes/presslinkedin/images/LinkedIn_IN_Icon_55px.jpg" alt="me on LinkedIn"/></a>
            <br/>
            <br/>
            <a href="https://profiles.google.com/u/0/112651096543043920931" target="_blank"><img src="img/g-plus-icon.png" alt="Follow me on G+"/></a>
            <br/>
            <br/>
            <a href="http://www.twitter.com/rmelisson" target="_blank"><img src="https://si0.twimg.com/a/1334246584/images/logos/twitter_newbird_boxed_whiteonblue.png" style="width:55px;" alt="Follow rmelisson on Twitter"/></a>

        div.content.invisible_content#resume 
            span.center Download my resume :&nbsp;&nbsp;
                  a(href='/', 'french resume') FR
                  \ / 
                  a(href='/', 'english resume') EN
            br
            hr
            br
            h2.center Professional Experience
            br
            span.hash3 Since 2011
            span.cv_line 
              |Research Engineer and Ph.D. student, 
              a(href="http://www.orange.com/en_EN/innovation/", target="_blank") Orange R&D
              |. Grenoble
            br
            span.cv_uline REST API, UPnP, OSGi, Maven, Java, Git, Linux - Software design
            br
            br
            span.hash3 2010
            span.cv_line Research Engineer, ADAM Project at 
              a(href="http://www.inria.fr/en", target="_blank") INRIA
              |. Lille 
            br
            span.cv_uline Contribute to the FOSS 
              a(href="http://frascati.ow2.org", target="_blank") FraSCAti platform 
              | - Android, xText, EMF, OSGi, Maven, Java
            br
            br
            span.hash3 2009
            span.cv_line 
              |End-of-studies internship at 
              a(href="http://www.open-groupe.com", target="_blank") Open 
              |for 6 months. Paris
            br
            span.cv_uline .Net, Spring, NHibernate - Project management 
            br
            br
            span.hash3 2008
            span.cv_line Internship, DART Project-Team at INRIA. Lille
            br
            span.cv_uline Parallel Programming on GPU - ASM, C, C++, CUDA
            br
            br
            span.hash3 2004-09
            span.cv_line Waiter, delivery man, summer camp supervisor (and trainer for supervisor), maths teacher 
            br
            span.cv_uline Where I have learnt to work with all kinds of people and to develop my teamwork skills under different context
            br
            br
            h3.center Education
            br
            span.hash3 2009
            span.cv_line Master of Science, University of Lille
            br
            span.cv_uline Software Engineering and Architecture - 
              a(href="http://fil.univ-lille1.fr/master-informatique/iagl/", target="_blank") Ingenierie et architecture logicielle
            br
            br
            span.hash3 2007
            span.cv_line Bachelor of Science, University of Lille
            br
            span.cv_uline Computer Science
            br
            br
            hr
            br
            h3.center Software Engineering
            br
            span.hash3 Langages
            span.cv_uline I'm mainly using Java and Python, but I experienced a bunch of different langages (from C to Haskell...) and I would definitly choose the adapted one rather than my favorite. I'm curently interested by Scala and I would be glad to go deeper into it.
            br
            br
            span.hash3 Tools & Frameworks
            span.cv_uline My favourites are Vim, Git, Maven, IntelliJ IDE. I appreciated usage of Sonar, OSGi, Spring, Hibernate, .Net, xText, RoR, Android SDK. It would be a pleasure to go deeper into Hadoop and Mahout, noSQL databases, nodeJS or other scalability enablers.
            br
            br
            span.hash3 Engineering
            span.cv_uline I'm familiar with OOP concept, Service Oriented Architectures, SOLID principles and Uncle Bob advices. Even if I never experienced it in real life, agile movement appears to be the solution for driving project and I hope to be able to continually deploy my next software project with the help of a devops enable team. Finally, in my opinion Cloud computing and Big data are both buzz words and really interested feeds, but they are mainly exciting enginnering topics.
            br

        div.content.invisible_content#work
            span Some details about different projects I have been involved in the past three years, both personally and in my jobs :
            h3 virtual STB
            p.small In Orange R&D, I am working on a solution which aims to deliver the Set Top Box services (IPTV : Catch-up TV, VoD, EPG, time shifting...) without the need for a hardware located into the client network. Objectives are to increase the flexibility and adaptability of the software stack (avoid hardware management), to deliver services to different kinds of device (smartphones, tablets, connected TV and PC, against only TV for the current solution) and to integrate OTT services in addition to the standard IPTV functions (e.g. YouTube, Facebook...).
              br
              br
              | Our 
              span.tech scalable
              |  prototype is written in 
              span.tech Java
              | , using 
              span.tech HTML5
              |  video and 
              span.tech CSS3 Media Queries
              | , we designed an
              span.tech API
              |  and allow deployment of standard 
              span.tech DLNA
              |  services into the WAN.
            h3 Facil
            p.small Facil is a web application that enable access for Colombian citizens to administrative documents in order to let them trigger justice action without the need of a lawer. It is a 
              span.tech Ruby on Rails
              |  application, deployed on 
              span.tech Heroku
              |  which will be available in a few months.
            h3 Mundle
            p.small Mundle is a tool which provide a way for dynamically convert 
              span.tech Maven
              |  artifact into 
              span.tech OSGi
              |  bundles at runtime. Based on bnd and Maven 3 API, it allows to benefit from the Maven dependency description in order to deploy Maven artifacts as bundles. This tool should facilitate the migration of standard Maven based Java project onto OSGi platforms.
            h3 FraSCAti on OSGi
            p.small FraSCAti is a 
              span.tech Java
              |  implementation of the Service Component Architecture
              span.tech SCA
              |  standard. It relies on the Fracal component model in order to allow dynamic reconfiguration on SCA based software. I was working on a merge between SCA and OSGi concept which could clarify the different responsibilities of those specifications.
            h3 Binjiu
            p.small Binjiu is a set of facility for using 
              span.tech UPnP
              |  protocol in order to achieve remote calls within
              span.tech Java
              |  distributed applications. Building on top of CyberLink for Java (which is a java implementation of UPnP protocol), it supplies the discovery benefits of UPnP to service oriented Java software. It was before Cling, which is now the best UPnP tool for Java.
            h3 MIND Project
            p.small This project aims to provide a model and a valid infrastructure for developing lightweight (as well as dramatically lightweight) embedded software according to component based software engineering paradigms. More precisely, we are taking part in the development of an IDE (textual and graphical integrated editors) for component architecture definition. Using Eclipse Modeling Framework 
              span.tech EMF
              | , I worked on a domain specific langage 
              span.tech DSL
              |  and its corresponding textual editor thanks to 
              span.tech xText
              | .
            h3 Pass GRL
            p.small A case in point of a standard serious web-based application build upon the 
              span.tech .Net
              |  ecosystem. Using 
              span.tech NHibernate
              | 
              span.tech Spring.NET
              | 
              span.tech Oracle DB
              | 
              span.tech jQuery
              |  in a well-decoupled architecture, it was my first experience of a real-world application. I was in charge of maintaining it, and make it evolve according to client needings.
