!!! 5
html(lang="en")
	head
		title rmelisson
		link(href="style/style.css", media="screen", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Bangers", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		script(src="javascript/jquery-corner.js")
		script(src="javascript/mizot.js")
	body
		div#body
			div#header 
				div#title /home/rmelisson 
				div#links 
					span.selected_link#link_home home 
					span.link#link_work work
					span.link#link_contact contact
					span.link#link_resume resume
			div.content#home
				div#img_div
					img#me_img(src="img/me.jpg")
				div#welcome Welcome here, I'm Remi Melisson, an enthusiast developper or rather, a software craftsman. Here you can find some information about my computing activities. Feel free to contact me via email, Twitter or smoke signal.
			div.content.invisible_content#contact Well, you can find me there : <br /><br />
				<a href="http://www.twitter.com/rmelisson"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" alt="Follow rmelisson on Twitter"/></a>
				<br/>
				<br/>
				<a href="http://www.github.com/rmelisson"><img src="https://github.com/images/modules/header/logov3.png" alt="me on GitHub"/></a>
				<br/>
				<br/>
				span#liam
					<img src="img/enveloppe.jpg" alt="send me"/> 
			div.content.invisible_content#resume Download my resume : <br /><br />
				div#download
					a(href='/', 'french resume') FR
					\ / 
					a(href='/', 'english resume') EN
				
			div.content.invisible_content#work
				recent work...
