body {
  color: #666764;  
  background: #ECECEC;
  background-image:url(../img/points.jpg);
  font-family: "Noticia Text", "Arial", "Helvetica", sans-serif;
  font-size:16px;
}

img {
  border-style: none;
}

a, a.visited {
  text-decoration: underline;
}

a:hover {
  text-decoration : none;
}

#top {
  font-family: "Courier New", Courier, monospace;
  font-size:16px;
  padding-bottom:4px; 
  border-bottom:1px dotted #4B1521;
  margin-bottom: 60px;
  text-align:center;
}

#nav {
  font-family:"Josefin Sans", "Arial";
  text-align : center;
  font-size: 30px;
  margin-bottom: 40px;
}

.link { 
  padding:8px;
  padding-bottom:5px;
  margin:10px;
}

a, a.visited {
  color:#666764;
  text-decoration:none;
}

a:hover {
  /*color:#BD3737;*/
  color:#942222;
}

.selected_link a {
  color:#942222;
}
.selected_link {
  border-bottom:1px solid #942222;
}

#welcome {
  margin-top: 8px;
}
p.alinea {
  text-indent: 35px;
}

#home {
  text-align: justify;
}

#me_img {
  border: 3px solid #FFFFFF;  
  width: 90px;
  box-shadow: 3px 3px 12px #555;
  -moz-box-shadow: 3px 3px 12px #555;
  -webkit-box-shadow: 3px 3px 12px #555;
}

#img_div {
  float : left;
  padding : 10px;
  padding-bottom : 0px;
  margin-right: 20px;
}

#logo_div {
  text-align : center;
}

.logo {
  padding : 25px;
  padding-bottom : 0px;
}

#logo_orange {
  width : 10%;
}
#logo_inria {
  width : 20%;
}

.content {
  box-shadow: 5px 5px 15px #555;
  -moz-box-shadow: 5px 5px 15px #555;
  -webkit-box-shadow: 5px 5px 15px #555;
  background-color: white;
  margin-left: auto; 
  margin-right: auto;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  width: 560px;
}

.invisible_content {
  display : none;
}

#work {
  text-align:justify;
}

#contact {
  text-align : center;
}

#download {
  text-align : center;
  font-weight : bold;
}

#download a, a.visited {
  text-decoration:none;
}

.capital {
  font-family:"Josefin Sans", "Arial";
  font-size : 36px;
  font-weight : bold;
}

h3 {
  color : #942222;
  /*margin-top : 25px;
  padding-top : 25px;*/
  margin-bottom : 5px;
  font-size : 22px;
  font-family:"Josefin Sans", "Arial";
}

h2 {
  font-weight : bold;
  color : #036564;
  margin-top : 10px;
  margin-bottom : 5px;
  font-size : 22px;
}

.hash3{
  font-weight : bold;
  color : #942222;
  font-size : 20px;
  padding-right : 10px;
  font-family:"Josefin Sans", "Arial";
}

.cv_line {
  font-size : 16px;
}

.cv_line a {
  border-bottom: 1px dotted;
}

.cv_uline {
  font-size : 14px;
  color : grey;
}

.cv_uline a {
  border-bottom: 1px dotted;
  color : grey;
}

.small {
  margin-left : 10px;
  font-size : 14px;	
}

ul { 
  margin : 0px;
  padding : 5px;
  list-style-image:none;
  list-style:none;
}
