body {
	color: #033649;  
	background: #53777A;
	background-image:url(../img/points.jpg);
	margin-top: 1em;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size:21px;
}

#body {
	margin-left: auto; 
	margin-right: auto;
	width: 640px;
	padding: 5px;
}

#header {
	font-family:"Bangers", "Arial";
	padding:8px;
	border: 5px solid #CDB380; 
	border-bottom:0px;
	background-color: rgba(232,221,203,0.4);
	padding-right : 20px;
	padding-left : 20px;
}

#title {
	font-size:35px;
	/*color: rgb(236,208,120);*/
	text-shadow:	#E8DDCB 1px 1px 2px,  
			#E8DDCB -1px 1px 2px,  
			#E8DDCB -1px -1px 2px,  
			#E8DDCB 1px -1px 2px;  
	margin-bottom: 30px;
}

#links {
	background: #E8DDCB;
	text-align : right;
	font-size: 25px;
	padding-right : 40px;
	padding-left : 40px;
	margin-bottom: 6px;
	margin-left: 180px;
}

.link {
	padding:8px;
	padding-bottom:15px;
	padding-top: 11px;
	margin:2px;
}

.selected_link {
	padding:8px;
	padding-bottom:15px;
	padding-top: 11px;
	margin:2px;

	color: #E8DDCB;
	background: #CDB380;
	border-top: 4px solid #E8DDCB; 
	border-left: 4px solid #E8DDCB; 
	border-right: 4px solid #E8DDCB; 
}

#me_img {
	border: 3px solid #FFFFFF;  
	width: 90px;
	box-shadow: 3px 3px 12px #555;
	-moz-box-shadow: 3px 3px 12px #555;
	-webkit-box-shadow: 3px 3px 12px #555;
}

#img_div {
	float: left;
	padding: 10px;
	margin-right: 15px;
}

.content {
	background-color: rgba(232,221,203,0.9);
	margin-left: auto; 
	margin-right: auto;
	padding: 40px;
	border: 5px solid #CDB380; 
	border-top: 0px dashed #CDB380; 
	text-align:justify;
}

.invisible_content {
	display : none;
}

