body {
	color: #033649;  
	background: #53777A;
	background-image:url(../img/points.jpg);
	margin-top: 1em;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size:18px;
}

img {
	border-style: none;
}

a, a.visited {
	text-decoration: underline;
	color: #033649;  
}

a:hover {
	color : #036564;
	text-decoration : none;
}

#body {
	margin-left: auto; 
	margin-right: auto;
	width: 740px;
	border: 5px solid #CDB380; 
	box-shadow: 5px 5px 15px #555;
	-moz-box-shadow: 5px 5px 15px #555;
	-webkit-box-shadow: 5px 5px 15px #555;
}

#header {
	font-family:"Bangers", "Arial";
	padding:8px;
	background-color: rgba(232,221,203,0.4);
	padding-right : 20px;
	padding-left : 20px;
	border-bottom: 3px solid #CDB380; 
}

#title {
	font-size:35px;
	text-shadow:	#E8DDCB 1px 1px 2px,  
			#E8DDCB -1px 1px 2px,  
			#E8DDCB -1px -1px 2px,  
			#E8DDCB 1px -1px 2px;  
	margin-bottom: 30px;
}

#links {
	background: #E8DDCB;
	text-align : right;
	font-size: 25px;
	padding-right : 40px;
	padding-left : 40px;
	margin-bottom: 6px;
	margin-left: 140px;
	box-shadow: 3px 3px 10px #555;
	-moz-box-shadow: 3px 3px 10px #555;
	-webkit-box-shadow: 3px 3px 10px #555;
}

.link {
	padding:10px;
	padding-bottom:15px;
	padding-top: 11px;
	margin:2px;
}
.link a, a.visited, a:hover {
	text-decoration:none;
}

.selected_link {
	padding:10px;
	padding-bottom:17px;
	padding-top: 11px;
	margin:2px;

	background: #E8DDCB;
	border-top: 4px solid #CDB380; 
	border-left: 4px solid #CDB380; 
	border-right: 4px solid #CDB380; 
}

#welcome {
	margin-top : 8px;
}

#me_img {
	border: 3px solid #FFFFFF;  
	width: 90px;
	box-shadow: 3px 3px 12px #555;
	-moz-box-shadow: 3px 3px 12px #555;
	-webkit-box-shadow: 3px 3px 12px #555;
}

#img_div {
	float : left;
	padding : 10px;
	padding-bottom : 0px;
	margin-right: 20px;
}

#logo_div {
	text-align : center;
}

.logo {
	padding : 25px;
	padding-bottom : 0px;
}

#logo_orange {
	width : 10%;
}
#logo_inria {
	width : 20%;
}

.content {
	background-color: rgba(232,221,203,1);
	margin-left: auto; 
	margin-right: auto;
	padding: 40px;
	text-align:justify;
}

.invisible_content {
	display : none;
}

#contact {
	text-align : center;
}

#download {
	text-align : center;
	font-weight : bold;
}

#download a, a.visited {
	text-decoration:none;
}

h3 {
	font-weight : bold;
	color : #036564;
	margin-top : 25px;
	padding-top : 25px;
	margin-bottom : 5px;
	font-size : 22px;
}

h2 {
	font-weight : bold;
	color : #036564;
	margin-top : 10px;
	margin-bottom : 5px;
	font-size : 22px;
}


.hash3{
	font-weight : bold;
	color : #036564;
	font-size : 20px;
	padding-right : 16px;
}

.cv_line {
	font-size : 16px;
}

.small {
	margin-left : 10px;
	font-size : 14px;	
}

ul { 
	margin : 0px;
	padding : 5px;
	list-style-image:none;
	list-style:none;
}
