body {
    font-size: 15px;
    color: #616166;
    font-family: "Gudea", "Arial", "Helvetica", sans-serif;
    background-image: url("../img/texture.png");

}

a, a.visited {
    color: #616166;
    text-decoration: none;
}


/* Solution 1 */

#header {
    background-color: #FFFFFF;
}

#logo-img {
    height:180px;
    position:relative;
    border : solid 1px;
}
#banlien {
    position:absolute;
    right:0px;
}
#banniere-img {
    height:130px;
}

#logo {
    position:relative;
    border : solid 1px;
    width:140px;
}

#links {
    padding: 12px;
    padding-top: 20px;
    background-color: #c3cdd5;
}

/* Solution 2 */

.selected_link a {
    border-bottom: 2px solid #95aabc;
    color: #95aabc;
    background: #FFFFFF;
}

.link {
    font-size: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#main {
    box-shadow: 5px 5px 15px #555;
    -moz-box-shadow: 5px 5px 15px #555;
    -webkit-box-shadow: 5px 5px 15px #555;
    width: 640px;
    margin-top: 50px;; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #EDEDDF;
    border: 3px solid #bababa;    
}

.content {
    padding: 40px;
    padding-top : 20px;
    padding-bottom : 100px;
}

.invisible_content {
    display: none;
}

#accueil {
    text-align: justify;
}

#news {
    border: 3px solid #bababa;    
    width: 170px;
    float: right;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    background: #FFFFFF;
}

