body {
	font-size: 20px;
    color: #616166;
	font-family: "Inika", "Arial", "Helvetica", sans-serif;
    background-image:url('../img/back.jpg');
    background-repeat:no-repeat;
    background-color:#d7d6bb;
}
/*
#background {
	margin-left: auto; 
	margin-right: auto;
    background-image:url('../img/back.jpg');
    background-repeat:no-repeat;
}*/

#main {
	box-shadow: 5px 5px 15px #555;
	-moz-box-shadow: 5px 5px 15px #555;
	-webkit-box-shadow: 5px 5px 15px #555;
	background-color: rgba(255,255,255,0.9);
	margin-left: auto; 
	margin-right: auto;
	margin-top: 70px;
	padding: 30px;
    width: 560px;
}

#logo {
    width: 160px;
}

#left {
    display: inline-block;
}

#right {
	margin-top: 15px;
	margin-left: 10px;
    width: 390px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
