body {
	font-size: 20px;
    color: #616166;
	font-family: "Inika", "Arial", "Helvetica", sans-serif;
    background-image:url('../img/back-big2.jpg') ;
    background-repeat:no-repeat;
    background-position:center top;
    #background-color:#d7d6bb;
    background-color:#616166;
}

#main {
	box-shadow: 5px 5px 15px #555;
	-moz-box-shadow: 5px 5px 15px #555;
	-webkit-box-shadow: 5px 5px 15px #555;
	background-color: rgba(255,255,255,0.9);
	margin-left: auto; 
	margin-right: auto;
	margin-top: 70px;
	padding: 30px;
	padding-top: 15px;
  width: 570px;
}

#logo {
  width: 160px;
	border: solid 2px #616166;
}

#left {
	margin-top: 30px;
  display: inline-block;
}

#right {
	margin-left: 16px;
  width: 390px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
