body {
  background-image: url("../img/texture3.jpg"); 
}


a, a:visited {
  text-decoration: none;
}

footer {
  text-align: center;
}

p {
  font-size: 16px;
}

#main{
  background-color: #FFFFFF;
  box-shadow: 5px 5px 15px #555;
  -moz-box-shadow: 5px 5px 15px #555;
  -webkit-box-shadow: 3px 3px 15px #555;
  font-size: 16px;
}

#logo-img{
  width: 160px;
}

#logo-div {
  background-color: #6a9cdf;
}

#banniere{
  background-color: #6a9cdf;
  text-align: right;
  margin-bottom: 5px;
}

#banniere-img{
  height: 150px;
}

#links {
  /*background-color: #d7d6bb;*/
  background-color: #616166;
  padding-right:20px;
  padding-top:18px;
  padding-bottom:10px;
  margin-top:-5px;
  text-align:right;
}

.link {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
  margin-left: 4px;
}

.link a {
  color: #FFFFFF;
}

.social {
  margin-bottom: 8px;
  padding-left: 8px;
}

.selected_link {
  background-color:#97ab8e;
}

.invisible_content {
  display: none;
}

.stretch {
  margin-left: 80px;
  width: 610px;
}

.right {
  text-align: right;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #616166;
}

/* References */
#sliders {
  width: 600px;
  padding-left: 120px;
}
.nivoSlider {
  position:relative;
  background:url("img/loading.gif") no-repeat 50% 50%;
}
.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
.nivoSlider a {
  border:0;
  display:block;
}
#chantier_title {
  padding: 8px;
  padding-right: 30px;
  margin-bottom: 8px;
  margin-left: 14px;
  border: 1px #AAAAAA solid;
  background-color: #E8E8E8;
  text-align: right;
  font-weight: normal;
  font-size: 20px;
}
#description {
  padding-left: 100px;
  width: 620px;
}
.chantier-caption {
  text-decoration: none;
}

/* Produits */
#produits {
  height: 1500px;
}
#produits_accordion {
  height: 380px;
}
.center {
  text-align: center;
}
h3 {
  font-size: 18px;
  border-bottom: 1px dotted black;
  font-weight: normal;
  text-align: right;
  padding-right: 20px;
}

.liste_produits {
  padding-left: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
}
