h1 Bienvenue chez Isoldry
hr

div.stretch
  p Isoldry est le spécialiste des systèmes de revêtement de façade Dryvit. 
    a(href="http://www.dryvit.com", target="_blank")
      img(src="img/dryvit.jpg", alt="Logo Dryvit", height=50)

  p La marque Dryvit est spécialisée dans les systèmes d’isolation thermique par l’extérieur. Ce sont les leaders sur le marché américain.
  p Notre société distribue l’ensemble de la gamme dans toute la France et plus particulièrement dans la région Grand Nord. Nous sommes capables de vous livrer dans toute l’Europe avec un réseau de distributeurs partenaires.
  p Isoldry se rend compte du rôle important que joue la maison dans nos vies. C'est pourquoi nous proposons des systèmes de revêtements de façades conçus pour protéger votre investissement et améliorer votre qualité de vie dans la maison que vous choisissez. 
  p Les maisons bénéficiant d’un système Dryvit ne sont pas simplement des structures d'une beauté unique qui se distinguent dans un marché où les logements sont construit à l’emporte-pièce, elles sont aussi très économes en énergie et vous permettent de diminuer de plus de 50% vos consommations annuelles.
  p C'est également très intéressant en termes d’impact sur l’environnement. En réduisant notre dépendance aux combustibles fossiles, les systèmes d’ITE Dryvit vous aident à réduire le phénomène d'effet de serre. 
  p Nous vous proposons des finitions haut de gamme telles que la brique, la pierre calcaire, le granit, l’enduit et une foule d'autres parements déclinables dans la teinte de votre choix. 
  br
  p.right L'équipe Isoldry.
  br
  iframe(src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/Isoldry",
    scrolling="no", frameborder="0",
      style="border:none; width:450px; height:80px")
  br
  <a href="https://twitter.com/isoldry" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @Isoldry</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  br
hr
