h1 L'isolation thermique par l'extérieur
hr
div.stretch
  p L'isolation thermique par l’extérieur (ITE) d'un bâtiment permet de diminuer les échanges de chaleur entre l'intérieur du bâtiment et l'environnement extérieur, et ainsi diminuer les besoins de chauffage et, le cas échéant, de climatisation. L'isolation thermique est le principe de base de la maison passive. Elle emprisonne la chaleur à l'intérieur en hiver et garde la maison fraîche en été.
  p Les systèmes d’ITE Dryvit sont plus couramment appelé Enduits-mince sur isolant. L'isolant est collé ou fixé sur le mur extérieur et est surmonté d’un enduit spécifique et de l’enduit de finition.
  p 30% de la chaleur d'un bâtiment est perdue via les murs mal isolés, l'ITE est plus efficace que l'isolation par l'intérieure. Elle a d'abord été utilisée pour les bâtiments collectifs (HLM notamment) et de plus en plus pour les maisons particulières. 
  p Le « manteau isolant » augmente l'inertie thermique de tout le bâtiment et règle tout ou partie des problèmes de ponts-thermiques, ce qui présente un avantage important en régime transitoire. A qualité d'isolant égale, elle diminue beaucoup les pertes de chaleur l'hiver et conserve la fraîcheur de la nuit dans la maison pendant l'été
  p Les principaux avantages sont :
  ul
    li suppression de tous les ponts thermiques 
    li jusqu'à 80 % d'économie d'énergie pour les bâtiments les plus énergivores en limitant de façon importante la déperdition de chaleur par la façade et en limitant les ponts thermiques ;
    li utilisation de l'inertie des murs pour récupérer les apports extérieurs, les apports ménagers, et qui deviennent avec un chauffage adéquat de véritables radiateurs basse température ;
    li un meilleur confort thermique du fait que les murs lourds et donc conducteurs thermiques absorbent mieux la chaleur rayonnée par les occupants des lieux ;
    li pas de condensation dans les murs qui sont à la même température que l'air ambiant intérieur ;
    li utilisation possible de la chaufferie la nuit en période hivernale uniquement pour la production ECS (eau chaude sanitaire) en coupant le chauffage deux à trois heures sans perte de température significative, ce qui simplifie la régulation dans le cas d'une chaufferie à base de pompe à chaleur aquathermique ;
    li pas d'émanation de gaz nocif de polystyrène et colle dans l'air du logement, pas de problème d'accrochage des meubles de cuisine et de salle de bain, et des tringles à rideaux, pas d'apparition des bandes de collage ;
    li la surface habitable n'est pas diminuée ;
    li elle peut se faire sans interrompre l'occupation du logement dans le cas d'une rénovation.

hr
