!!! 5
html(lang="fr")
    head
        title Isoldry
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

        link(href="style/style.css", media="screen", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Inika", rel="stylesheet", type="text/css")

        #script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
        script(src="javascript/jquery.min.js")
        script(src="javascript/jquery.corner.js")
        script(src="javascript/isoldry.js")
    body
        div#main 
            div#left
                img#logo(src="img/logo.png")
            div#right 
                p Bienvenue chez Isoldry, le spécialiste des systèmes de revêtement de facade Dryvit. <br /> ____ _ ____ <br/> <br/> Notre site internet est actuellement en construction.
