!!! 5
html(lang="fr")
    head
        title isoldry
        link(href="style/bootstrap/bootstrap.min.css", type="text/css", rel="stylesheet")
        link(href="style/style2.css", type="text/css", rel="stylesheet")
    body
        div.container#main
            div.row
                div.span2 
                    img#logo-img(src="img/logo.png")
                div.span10 
                    div#banniere
                        img#banniere-img(src="img/banniere-bis.png")
                    div#links
                        br
                        ul.nav.nav-pills
                            li.active: a(href='#') Accueil
                            li: a(href='#') ITE
                            li: a(href='#') Produits
                            li: a(href='#') Références
                            li: a(href='#') Contact
            hr
            footer 
                p &copy; Isoldry 2012
